<p id="notice"><%= notice %></p>

<p>
  <strong>Name of pet:</strong>
  <%= @c_information.name_of_pet %>
</p>

<p>
  <strong>Type of pet:</strong>
  <%= @c_information.type_of_pet %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @c_information.breed %>
</p>

<p>
  <strong>Pet age:</strong>
  <%= @c_information.Pet_age %>
</p>

<p>
  <strong>Pet weight:</strong>
  <%= @c_information.pet_weight %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @c_information.appointment_id %>
</p>

<%= link_to 'Edit', edit_c_information_path(@c_information) %> |
<%= link_to 'Back', c_informations_path %>
